<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DESAKA</a>
        <span class="tag">Spec Hub</span>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Dashboard</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="config">Konfigurace</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="memory">Memory</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="webscrape">WebScrape</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="autopoll">Autopoll</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="unifier">Unifier</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="logs">Logy</NavLink>
        </div>
    </nav>
</div>
